---
layout: digigov-default
---

<style>

p {
  margin: 20px;
}

</style>

<div>
	<div class="row is-multiline" style="display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding:0 4px;margin:0 auto;max-width: 1300px;padding-top:20px;padding-bottom:20px;">
		<div class="col is-half-tablet padding--bottom--lg">
			
			<table>
				<tbody>
					<tr>
						<td><img src="/images/logos/logo-mycpf.png" alt="myCPF" style="width:100px;"></td>
						<td style="padding-left:15px;"><h3>myCPF</h3><i>Central Provident Fund</i></td>
					</tr>
				</tbody>
			</table>
			
			<br/><p/>
			myCPF provides easy access to your personal CPF information and enables you to perform a variety of functions on the go using your SingPass.
			<p/>
			What you can do with myCPF:
			<ul style="list-style-type:disc;list-style-position:inside;text-indent:-1.5em;padding-left:3em;">
				<li>View a summary of the balances in your accounts</li>
				<li>View statements for your healthcare, housing and investment schemes</li>
				<li>View your transaction and contribution history up to 15 months before</li>
				<li>Top up CPF savings using cash or CPF for yourself and your loved ones</li>
				<li>Calculate your monthly CPF contributions payable and see their allocation</li>
			</ul>
		</div>
		<div class="col is-half-tablet padding--bottom--lg">
			<video controls autoplay>
				<source type="video/mp4" src="/videos/myCPF.mp4" />
				Sorry, your browser doesn't support embedded videos.			
			</video>
			Scan QR code to download:
			<br/><p/>
			
			<table width="100%">
				<tbody>
					<tr>
						<td style="text-align:center"><img src="/images/qr-codes/qr-ios-mycpf.png" alt="ios mycpf app" style="width:150px;padding:5px;"></td>
						<td style="text-align:center"><img src="/images/qr-codes/qr-android-mycpf.png" alt="android mycpf app" style="width:150px;padding:5px;"></td>
					</tr>
					<tr>
						<td style="text-align:center"><img src="/images/AppStore@3x.png" alt="ios app store" style="width:150px;padding:5px;"></td>
						<td style="text-align:center"><img src="/images/PlayStore@3x-300x107.png" alt="android play store" style="width:150px;padding:5px;"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
</div>
