---
layout: leftnav-page-content
---

<div>
	<div class="row is-multiline">
		<div class="col is-half-tablet padding--bottom--lg">
		
			<table>
				<tbody>
					<tr>
						<td><img src="/images/logos/logo-myresponder.png" alt="myResponder" style="width:100px;"></td>
						<td><h2>myResponder</h2><strong>Singapore Civil Defence Force</strong></td>
					</tr>
				</tbody>
			</table>
			
			<br/><p/>
			myResponder alerts members of the public to nearby fire and medical cases before ambulance arrival, to save lives and mitigate minor fires in the first few critical minutes.
			<p/>
			What you can do with myResponder:
			<ul>
				<li>Receive geolocation notifications of nearby fires and cardiac arrest cases</li>
				<li>View nearby cases using OneMap</li>
				<li>Dial 995 with a geolocation-enabled function</li>
				<li>Access the National Automated External Defibrillator (AED) Registry</li>
				<li>Provide on-site information via submission of photos and videos</li>
			</ul>
		</div>
		<div class="col is-half-tablet padding--bottom--lg">
			<video controls>
				<source type="video/mp4" src="/videos/myResponder.mp4" />
				Sorry, your browser doesn't support embedded videos.			
			</video>
			Scan QR code to download:
			<br/><p/>
			
			<table>
				<tbody>
					<tr>
						<td><img src="/images/qr-codes/qr-ios-myresponder.png" alt="ios myresponder app" style="width:150px;"></td>
						<td><img src="/images/qr-codes/qr-android-myresponder.png" alt="android myresponder app" style="width:150px;"></td>
					</tr>
					<tr>
						<td><img src="/images/AppStore@3x.png" alt="ios app store" style="width:150px;"></td>
						<td><img src="/images/PlayStore@3x-300x107.png" alt="android play store" style="width:150px;"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
</div>
