---
layout: simple-page
---

<div>
	<div class="row is-multiline">
		<div class="col is-half-tablet padding--bottom--lg">
		
			<table>
				<tbody>
					<tr>
						<td><img src="/images/logos/logo-health-hub.png" alt="HealthHub" style="width:100px;"></td>
						<td><h2>HealthHub</h2><strong>Ministry of Health</strong></td>
					</tr>
				</tbody>
			</table>
			
			<br/><p/>
			HealthHub offers a range of health and wellness related content, deals, rewards and digital services. Access yours and your family’s health records through this one-stop portal.
			<p/>
			What you can do with HealthHub:
			<ul>
				<li>Make, view, reschedule and cancel medical appointments</li>
				<li>Access prescription records and medication lists</li>
				<li>Request for medication refills or renewal of prescriptions</li>
				<li>Pay for medical bills</li>
				<li>Track your child’s developmental milestones and vaccination, as well as upcoming immunisation schedules</li>
				<li>View your parents’ medical appointments and medication lists</li>
				<li>Get notified of school health assessments and your child’s referral letters</li>
				<li>Find doctors, caregivers, 24-hr Community Health Assist Scheme (CHAS) clinics easily</li>
				<li>Receive Healthpoints when you read articles and complete quizzes</li>
			</ul>
		</div>
		<div class="col is-half-tablet padding--bottom--lg">
			<video controls>
				<source type="video/mp4" src="/videos/HealthHub_1.mp4" />
				Sorry, your browser doesn't support embedded videos.			
			</video>
			Scan QR code to download:
			<br/><p/>
			
			<table>
				<tbody>
					<tr>
						<td><img src="/images/qr-codes/qr-ios-healthhub.png" alt="ios HealthHub app" style="width:150px;"></td>
						<td><img src="/images/qr-codes/qr-android-healthhub.png" alt="android HealthHub app" style="width:150px;"></td>
					</tr>
					<tr>
						<td><img src="/images/AppStore@3x.png" alt="ios app store" style="width:150px;"></td>
						<td><img src="/images/PlayStore@3x-300x107.png" alt="android play store" style="width:150px;"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
</div>
