---
layout: simple-page
---

<div>
	<div class="row is-multiline">
		<div class="col is-half-tablet padding--bottom--lg">
		
			<table>
				<tbody>
					<tr>
						<td><img src="/images/logos/logo-nlb-mobile.png" alt="NLB Mobile" style="width:60px;"></td>
						<td><h2>NLB Mobile</h2><strong>National Library Board</strong></td>
					</tr>
				</tbody>
			</table>
			
			
			<br/><p/>
			Read on the move with seamless access to content and digital services from the National Library Board. Access a whole range of electronic resources including eBooks and audio eBooks among other useful features.
			<p/>
			What you can do with NLB Mobile:
			<ul>
				<li>Scan the NLB barcode to borrow library items</li>
				<li>Renew current loans and view loan history</li>
				<li>Reserve items and view reservation history</li>
				<li>Pay outstanding charges using PayPal or credit card</li>
				<li>Browse the latest arrivals</li>
				<li>Search, download or read eBooks online</li>
				<li>Bookmark favourite titles</li>
				<li>Store multiple profiles and keep your family’s library accounts</li>
				<li>View and register for programmes/events at the libraries</li>
				<li>Share titles through Facebook, Twitter and WhatsApp</li>
			</ul>
		</div>
		<div class="col is-half-tablet padding--bottom--lg">
			<video controls>
				<source type="video/mp4" src="/videos/NLB-Mobile.mp4" />
				Sorry, your browser doesn't support embedded videos.			
			</video>
			Scan QR code to download:
			<br/><p/>
			
			<table>
				<tbody>
					<tr>
						<td><img src="/images/qr-codes/qr-ios-nlbmobile.png" alt="ios NLB Mobile app" style="width:150px;"></td>
						<td><img src="/images/qr-codes/qr-android-nlbmobile.png" alt="android NLB Mobile app" style="width:150px;"></td>
					</tr>
					<tr>
						<td><img src="/images/AppStore@3x.png" alt="ios app store" style="width:150px;"></td>
						<td><img src="/images/PlayStore@3x-300x107.png" alt="android play store" style="width:150px;"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
</div>
