---
layout: simple-page
---

<div>
	<div class="row is-multiline">
		<div class="col is-half-tablet padding--bottom--lg">
			<h2>Parking.sg</h2>
			<b>Government Technology Agency</b>
			<br/><p/>
			Parking.sg allows you to pay short-term parking charges through your mobile device at all coupon-based public car parks, as an alternative mode of payment to paper parking coupons.
			<p/>
			What you can do with Parking.sg:
			<ul>
				<li>Calculate parking fees automatically by keying in your vehicle number, selecting the car park and indicating your estimated parking duration</li>
				<li>Pay parking fees using credit or debit card</li>
				<li>Track and extend parking sessions remotely, and receive notifications when your parking sessions are expiring or have ended</li>
				<li>End parking sessions early and receive refunds based on the actual parked duration</li>
			</ul>
		</div>
		<div class="col is-half-tablet padding--bottom--lg">
			<video controls>
				<source type="video/mp4" src="/videos/ParkingSG.mp4" />
				Sorry, your browser doesn't support embedded videos.			
			</video>
			Scan QR code to download:
			<br/><p/>
			
			<table>
				<tbody>
					<tr>
						<td><img src="/images/qr-codes/qr-ios-parkingsg.png" alt="ios parking sg app" style="width:150px;"></td>
						<td><img src="/images/qr-codes/qr-android-parkingsg.png" alt="android parking sg app" style="width:150px;"></td>
					</tr>
					<tr>
						<td><img src="/images/AppStore@3x.png" alt="ios app store" style="width:150px;"></td>
						<td><img src="/images/PlayStore@3x-300x107.png" alt="android play store" style="width:150px;"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
</div>
