---
layout: default
---

<style>

.row{
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 0 auto;
  max-width: 1300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

</style>

<div>
	<div class="row is-multiline">
		<div class="col is-half-tablet padding--bottom--lg">
		
			<table>
				<tbody>
					<tr>
						<td><img src="/images/logos/logo-oneservice.png" alt="OneService" style="width:100px;"></td>
						<td><h2>OneService</h2><strong>Municipal Services Office</strong></td>
					</tr>
				</tbody>
			</table>
			
			<br/><p/>
			OneService provides a convenient channel to report municipal issues within Singapore. With the OneService app, municipal services can be delivered more effectively to improve the living environment for citizens.
			<p/>
			What you can do with OneService:
			<ul>
				<li>Select from a range of common categories and sub-categories to submit a case</li>
				<li>Attach photos and geo-tag for more complete and precise reporting</li>
				<li>Track updates of submitted cases and rate services</li>
				<li>Receive alerts if you are near dengue clusters, view the number of cases in the neighbourhood and the block of flats where these cases are located</li>
				<li>Locate public and commercial car parks at your destination and obtain information such as parking rates, opening hours, car park types and entry points</li>
				<li>View parking lot availability and height restrictions of HDB Electronic Parking System car parks and selected commercial car parks</li>
				<li>Pay parking fees for HDB and URA coupon car parks</li>
			</ul>
		</div>
		<div class="col is-half-tablet padding--bottom--lg">
			<video controls>
				<source type="video/mp4" src="/videos/OneService.mp4" />
				Sorry, your browser doesn't support embedded videos.			
			</video>
			Scan QR code to download:
			<br/><p/>
			
			<table>
				<tbody>
					<tr>
						<td><img src="/images/qr-codes/qr-ios-oneservice.png" alt="ios oneservice app" style="width:150px;"></td>
						<td><img src="/images/qr-codes/qr-android-oneservice.png" alt="android oneservice app" style="width:150px;"></td>
					</tr>
					<tr>
						<td><img src="/images/AppStore@3x.png" alt="ios app store" style="width:150px;"></td>
						<td><img src="/images/PlayStore@3x-300x107.png" alt="android play store" style="width:150px;"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
</div>
