<!doctype html>
<html lang="en" class="has-navbar-fixed-top-widescreen">

{%- include head.html -%}

<style>
html{
  background-color: black;
}

body{
  color: white;
}
.masthead-container{
  background-color: black;
}
.navbar{
  background-color: black;
}
</style>

    <body>
        {%- include dg-bp-agencyhead.html -%}
        {%- comment -%} onclick is needed for iOS Safari to treat stuff other than <a> tags etc (e.g. div) as clickable {%- endcomment -%}
        <div id="main-content" onclick>
        	{{- content -}}
    	</div>
    </body>
</html>