---
layout: default
---

<style>

p {
  margin: 20px;
}

</style>

<div>
	<div class="row is-multiline" style="display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding:0 4px;margin:0 auto;max-width: 1300px;padding-top:20px;padding-bottom:20px;">
		<div class="col is-half-tablet padding--bottom--lg">
			
			<table>
				<tbody>
					<tr>
						<td><img src="/images/logos/logo-mobile-hdb.png" alt="Mobile@HDB" style="width:100px;"></td>
						<td><h3>Mobile@HDB</h3><i>Housing Development Board</i></td>
					</tr>
				</tbody>
			</table>
		
			<br/><p/>
			With Mobile@HDB, you can access HDB’s suite of digital services at your own convenience, to make the home-seeking and purchasing process easier.
			<p/>
			What you can do with Mobile@HDB:
			<ul style="list-style-type:disc;list-style-position:inside;text-indent:-1.5em;padding-left:3em;">
				<li>Check information on housing loans, sales launches, sales application results, Build-to-Order (BTO) flats available for selection and their probable completion dates</li>
				<li>Use AR technology that shows resale flat prices and past transactions when the phone camera is pointed at a HDB block</li>
				<li>View recent transacted prices of resale flats and ethnic quotas, at the location of choice</li>
				<li>Use HDB Map services for information on HDB flat details, including its location, car parks, shops and businesses</li>
				<li>Locate and obtain directions to HDB Hub, Branch and Service Centres</li>
				<li>Submit feedback to HDB</li>
				<li>Renew season parking and retrieve car park information (e.g. lot availability and parking schemes for car park groups) for motorists</li>
			</ul>
		</div>
		<div class="col is-half-tablet padding--bottom--lg">
			<video controls>
				<source type="video/mp4" src="/videos/MobileHDB.mp4" />
				Sorry, your browser doesn't support embedded videos.			
			</video>
			Scan QR code to download:
			<br/><p/>
			
			<table>
				<tbody>
					<tr>
						<td><img src="/images/qr-codes/qr-ios-mobilehdb.png" alt="ios mobile@hdb app" style="width:150px;padding:5px;"></td>
						<td><img src="/images/qr-codes/qr-android-mobilehdb.png" alt="android mobile@hdb app" style="width:150px;padding:5px;"></td>
					</tr>
					<tr>
						<td><img src="/images/AppStore@3x.png" alt="ios app store" style="width:150px;padding:5px;"></td>
						<td><img src="/images/PlayStore@3x-300x107.png" alt="android play store" style="width:150px;padding:5px;"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
</div>
