---
layout: default
---

<style>

p {
  margin: 20px;
}

</style>

<div>
	<div class="row is-multiline" style="display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding:0 4px;margin:0 auto;max-width: 1300px;padding-top:20px;padding-bottom:20px;">
		<div class="col is-half-tablet padding--bottom--lg">
		
			<table>
				<tbody>
					<tr>
						<td><img src="/images/logos/logo-myresponder.png" alt="myResponder" style="width:100px;"></td>
						<td style="padding-left:15px;"><h3>myResponder</h3><i>Singapore Civil Defence Force</i></td>
					</tr>
				</tbody>
			</table>
			
			<br/><p/>
			myResponder alerts members of the public to nearby fire and medical cases before ambulance arrival, to save lives and mitigate minor fires in the first few critical minutes.
			<p/>
			What you can do with myResponder:
			<ul style="list-style-type:disc;list-style-position:inside;text-indent:-1.5em;padding-left:3em;">
				<li>Receive geolocation notifications of nearby fires and cardiac arrest cases</li>
				<li>View nearby cases using OneMap</li>
				<li>Dial 995 with a geolocation-enabled function</li>
				<li>Access the National Automated External Defibrillator (AED) Registry</li>
				<li>Provide on-site information via submission of photos and videos</li>
			</ul>
		</div>
		<div class="col is-half-tablet padding--bottom--lg">
			<video controls autoplay>
				<source type="video/mp4" src="/videos/myResponder.mp4" />
				Sorry, your browser doesn't support embedded videos.			
			</video>
			Scan QR code to download:
			<br/><p/>
			
			<table width="100%">
				<tbody>
					<tr>
						<td style="text-align:center"><img src="/images/qr-codes/qr-ios-myresponder.png" alt="ios myresponder app" style="width:150px;padding:5px;"></td>
						<td style="text-align:center"><img src="/images/qr-codes/qr-android-myresponder.png" alt="android myresponder app" style="width:150px;padding:5px;"></td>
					</tr>
					<tr>
						<td style="text-align:center"><img src="/images/AppStore@3x.png" alt="ios app store" style="width:150px;padding:5px;"></td>
						<td style="text-align:center"><img src="/images/PlayStore@3x-300x107.png" alt="android play store" style="width:150px;padding:5px;"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
</div>
